<?xml version="1.0"?>
<launch>
<arg name="camera_arm" default="true" />
<arg name="camera_base" default="true" />

<include file="$(find realsense2_camera)/launch/rs_camera.launch" if="$(arg camera_arm)">
        <arg name="filters" value="pointcloud"/>
        <arg name="align_depth" value="true"/>
        <arg name="ordered_pc" value="true"/>
        <arg name="camera" value="camera_arm"/>
        <arg name="serial_no" value="823112061197" />
        <arg name="depth_fps" value="5"/>
    </include>
        <!-- "925322062743"/-->
    
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" if="$(arg camera_base)">
        <arg name="filters" value="pointcloud"/>
        <arg name="align_depth" value="true"/>
        <arg name="ordered_pc" value="true"/>
        <arg name="camera" value="camera_base"/>
        <arg name="serial_no" value="912112074259"/>
        <arg name="depth_fps" value="5"/>
    </include>

        
</launch>          
