<?xml version="1.0" ?>
<launch>
  <arg name="load_gripper" default="true" />
  <!-- Allow user to specify if they want an extra gripper center frame -->
  <arg name="gripper_center" default="false" />
  <arg name="gripper_center_xyz" default="0.0 0.0 0.10" />
  <arg name="pipeline" default="ompl-chomp" />
  <arg name="on_mobile_base" default="true" />

  <include file="$(find panda_moveit_config)/launch/move_group.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
    <arg name="gripper_center" value="$(arg gripper_center)" />
    <arg name="gripper_center_xyz" value="$(arg gripper_center_xyz)" />
    <arg name="pipeline" value="$(arg pipeline)"  />
    <arg name="on_mobile_base" value="$(arg on_mobile_base)" />
  </include>
  
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>
</launch>
