<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" />
  <arg name="gui" default="false" />
  <arg name="debug" default="false" />
  <arg name="load_gripper" default="false" />
  <!-- Allow user to specify if they want an extra gripper center frame -->
  <arg name="gripper_center" default="false"/>
  <arg name="gripper_center_xyz" default="0.0 0.0 0.122"/>      <!-- prev was 0.0 0.0 0.10 -->

  <arg name="on_mobile_base" default="true" />

  <include file="$(find franka_control)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <include file="$(find panda_moveit_config)/launch/panda_moveit.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
    <arg name="gripper_center" default="$(arg gripper_center)"/>
    <arg name="gripper_center_xyz" default="$(arg gripper_center_xyz)"/>
    <arg name="on_mobile_base" value="$(arg on_mobile_base)" />
  </include>

  <group if="$(arg gui)">
    <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch">
      <arg name="debug" value="$(arg debug)"/>
    </include>
  </group>
</launch>
